footer {
  height: 200px;
  padding: 24px 0;
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}
.footer-container {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-container ul li {
  color: rgba(0, 0, 0, 0.56);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.footer-container ul li:hover {
  color: rgba(0, 0, 0, 0.87);
}
.links-container {
  width: 190px;
  margin-right: 50px;
}
.footer h3 {
  font-weight: 500px;
  margin-bottom: 24px;
}
.footer-links {
  box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}
.media-icons {
  display: flex;
  padding: 0 24px;
}
.media-icons li {
  list-style-type: none;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.media-icons li i {
  font-size: 24px;
  padding: 10px;
}
.media-icons li i:hover {
  border-radius: 50px;
  background-color: slategray;
}
.text-links {
  display: flex;
  padding: 0 20px;
}
.text-links li {
  list-style-type: none;
  padding-bottom: 0.8rem;
  padding-left: 0.8rem;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
footer p{
  padding: 20px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer{
   height: 100%;
  }
  .footer-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .media-icons{
    justify-content: center;
    align-items: center;
  }
  .text-links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}