.main-container {
  max-width: 1440px;
}
.annoucment {
  display: flex;
  justify-content: center;
  background-color: #d8e8e3;
  margin-bottom: 32px;
}
.annoucment span {
  width: 80%;
  margin: 0 auto;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  max-height: 60%;
  text-align: center;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.75;
}
.rewards {
  background-color: #1e3932;
}
.left-right-section {
  display: flex;
  height: 300px;
  background-color: #1e3932;
  margin-bottom: 32px;
}
.left-right-section .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.left-right-section .images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10px 0;
}
.left-right-section .images img {
  padding: 8px 0;
  height: 100%;
  width: 100%;
}
.text h1,
.text h3 {
  text-align: center;
  padding: 0 20px;
  margin: 0;
  line-height: 1.7;
}
.text h1 {
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 24px;
}
.text h3 {
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: 500;
}

.text .cta {
  padding: 7px 16px;
  border: 1px solid;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2 ease;
}

.text .cta:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.order {
  display: flex;
  margin-bottom: 32px;
}
.order .image {
  display: flex;
  width: 50%;
  height: 100%;
}
.order .image img {
  display: flex;
  height: 100%;
  width: 100%;
}
.order .text {
  background-color: #1e3932;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.chill {
  display: flex;
  margin-bottom: 32px;
}
.chill .image {
  display: flex;
  width: 50%;
  height: 100%;
}
.chill .image img {
  display: flex;
  height: 100%;
  width: 100%;
}
.chill .text {
  background-color: #1e3932;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.discount {
  display: flex;
  margin-bottom: 32px;
}
.discount .image {
  display: flex;
  width: 50%;
  height: 100%;
}
.discount .image img {
  display: flex;
  height: 100%;
  width: 100%;
}
.dis-text h1,
.dis-text h3 {
  text-align: center;
  padding: 0 20px;
  margin: 0;
  line-height: 1.7;
}
.dis-text h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #1e3932;
}
.dis-text h3 {
  margin-bottom: 32px;
  font-size: 19px;
  font-weight: 400;
}
.discount .dis-text {
  background-color: #d4e9e2;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e3932;
}

.dis-cta {
  padding: 7px 16px;
  border: 1px solid;
  border-radius: 50px;
  color: #1e3932;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2 ease;
}

.dis-text .dis-cta:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}

.earning {
  display: flex;
  margin-bottom: 32px;
  background-color: #d4e9e2;
}
.earning .image {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px 0;
}
.earning .image img {
  display: flex;
  height: 100%;
  width: 100%;
}
.earn-text h1,
.earn-text h3 {
  text-align: center;
  padding: 0 20px;
  margin: 0;
  line-height: 1.7;
}
.earn-text h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #1e3932;
}
.earn-text h3 {
  margin-bottom: 32px;
  font-size: 19px;
  font-weight: 400;
}
.earning .earn-text {
  background-color: #d4e9e2;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e3932;
}

.earn-text .earn-cta {
  padding: 7px 16px;
  border: 1px solid;
  border-radius: 50px;
  color: #1e3932;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2 ease;
}

.earn-text .earn-cta:hover {
  background-color: hsla(0, 0%, 100%, 0.12);
}
